/* Error: Undefined operation "2 < px".
 *    ,
 * 79 |             height: 2<px;
 *    |                     ^^^^
 *    '
 *   SCSS\_main.scss 79:21  @import
 *   SCSS\style.scss 1:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "2 < px".\a    \2577 \a 79 \2502              height: 2<px;\d\a    \2502                      ^^^^\a    \2575 \a   SCSS\\_main.scss 79:21  @import\a   SCSS\\style.scss 1:9    root stylesheet';
}
